<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Daily Task Manager</title>
    <link href="/static/index.css" rel="stylesheet">
    <script src="/static/process.js"></script>

</head>

<body>
    <a href="/logout" class="logout-button">
        <button type="button">Logout</button>
    </a>
    <header>
        <h1 class="title">Daily Task Manager</h1>
    </header>

    <main>
        <div class="containererror">
            <div class="error-message">
                <label>{{ error }}</label>
            </div>
            <form action="/add_task" method="post">
                <div class="card">
                    <h2>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-coffee" href="#icon-coffee" /></svg>📝Add Task
                    </h2>
                    <div class="input-contain">
                        <input class ="inputbox" type="text" name="Task_name" autocomplete="off" value="" aria-labelledby="placeholder-fname" id="Task_name">
                        <label class="placeholder-text" for="Task_name" id="placeholder-fname">
                            <div class="text">Task Name</div>
                        </label>
                    </div>
                    <br>
                    <div class="input-contain">
                        <input class ="inputbox" type="text" name="Task_Description" autocomplete="off" value="" aria-labelledby="placeholder-fname" id="Task_Description">
                        <label class="placeholder-text" for="Task_Description" id="placeholder-fname">
                            <div class="text">Task Description</div>
                        </label>
                    </div>
                    <br>
                    <label><h3>Due Date</h3></label>
                    <br>
                    <input class ="inputbox" type="date" name="Due_Date" id="Due_Date">
                    <br>
                    <label><h3>Priority</h3></label>
                    <div class="radio-inputs">
                        <label>
                            <input class="radio-input" type="radio" name="priority" value="High">
                            <span class="radio-tile">
                                <span class="radio-icon">
                                  <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m2.019 11.993c0 5.518 4.48 9.998 9.998 9.998 5.517 0 9.997-4.48 9.997-9.998s-4.48-9.998-9.997-9.998c-5.518 0-9.998 4.48-9.998 9.998zm1.5 0c0-4.69 3.808-8.498 8.498-8.498s8.497 3.808 8.497 8.498-3.807 8.498-8.497 8.498-8.498-3.808-8.498-8.498zm4.715-1.528s1.505-1.502 3.259-3.255c.147-.146.338-.219.53-.219s.384.073.53.219c1.754 1.753 3.259 3.254 3.259 3.254.145.145.217.336.216.527 0 .191-.074.383-.22.53-.293.293-.766.294-1.057.004l-1.978-1.978v6.694c0 .413-.336.75-.75.75s-.75-.337-.75-.75v-6.694l-1.978 1.979c-.29.289-.762.286-1.055-.007-.147-.146-.22-.338-.221-.53-.001-.19.071-.38.215-.524z" fill-rule="nonzero"/> </svg>
                                    <!-- Add your High priority icon here -->
                                </span>
                                <span class="radio-label">High</span>
                            </span>
                        </label>
                        <label>
                            <input class="radio-input" type="radio" name="priority" value="Medium" checked>
                            <span class="radio-tile">
                                <span class="radio-icon">
                                  <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m12.002 2.005c5.518 0 9.998 4.48 9.998 9.997 0 5.518-4.48 9.998-9.998 9.998-5.517 0-9.997-4.48-9.997-9.998 0-5.517 4.48-9.997 9.997-9.997zm4.253 9.25h-8.5c-.414 0-.75.336-.75.75s.336.75.75.75h8.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z" fill-rule="nonzero"/></svg>
                                    <!-- Add your Medium priority icon here -->
                                </span>
                                <span class="radio-label">Medium</span>
                            </span>
                        </label>
                        <label>
                            <input class="radio-input" type="radio" name="priority" value="Low">
                            <span class="radio-tile">
                                <span class="radio-icon">
                                  <svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m2.009 11.998c0-5.518 4.48-9.998 9.998-9.998s9.998 4.48 9.998 9.998c0 5.517-4.48 9.997-9.998 9.997s-9.998-4.48-9.998-9.997zm1.5 0c0 4.69 3.808 8.497 8.498 8.497s8.498-3.807 8.498-8.497-3.808-8.498-8.498-8.498-8.498 3.808-8.498 8.498zm4.716 1.528s1.505 1.501 3.259 3.254c.146.147.338.22.53.22s.384-.073.53-.22c1.754-1.752 3.258-3.254 3.258-3.254.145-.145.217-.335.217-.526 0-.192-.074-.384-.221-.53-.292-.293-.766-.295-1.057-.004l-1.977 1.977v-6.693c0-.414-.336-.75-.75-.75s-.75.336-.75.75v6.693l-1.979-1.978c-.289-.289-.761-.287-1.054.006-.147.147-.221.339-.222.53 0 .191.071.38.216.525z" fill-rule="nonzero"/></svg>
                                    <!-- Add your Low priority icon here -->
                                </span>
                                <span class="radio-label">Low</span>
                            </span>
                        </label>
                    </div>
                    <div class="button-group">
                        <button type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
      </main>

            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Task Name</th>
                        <th>Description</th>
                        <th>Due Date</th>
                        <th>Priority</th>
                        <th>Checkbox</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr class="table-row">
                            <td class="table-data">{{ task.task_name }}</td>
                            <td class="table-data">{{ task.task_description }}</td>
                            <td class="table-data">{{ task.due_date }}</td>
                            <td class="table-data">{{ task.priority }}</td>
                            <td><input type="checkbox" class="custom-checkbox" onclick="deleteTask(this)" data-id="{{ task.task_id }}"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>



    <footer>
        <p>&copy; 2024 YourWebsite.com</p>
    </footer>
</body>

</html>
